body {
    font-family: Arial, sans-serif;
}
.box {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.product {
    text-align: center;
    width: 200px;
    margin: 0;
    padding: 10px;
}
.product img {
    width: 200px;
}
.name {
    margin: 10px 0;
    font-size: 12px;
    text-align: left;
}
.price {
    font-weight: bold;
    font-size: 12px;
}
.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 8px;
}
.discount {
    color: red;
    font-size: 12px;
}