* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 5px;
    background-color: bisque;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 5px;
    font-size: 3rem;
}

header a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: gray;
    color: black;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 black;
}

header a:hover {
    background-color: black;
    color: white;
    border: 2px solid gray;
    box-shadow: 0 0 20px 0 gray;
}